button.cta {
  width: 100%;
  height: 60px;
  border: 0;
  cursor: pointer;
  padding: 13px 16px;
  border-radius: 999px;
  font-weight: normal;  /* Quitamos la negrita */
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #4a7bff, #9b5bff);  /* Color de fondo original */
  box-shadow: 0 14px 26px rgba(47,111,237,.18);
  transition: background-color 0.3s ease;  /* Transición suave para el cambio de color */
  margin-bottom: 20px;
}

button.cta:hover {
  background: linear-gradient(90deg, #9b5bff, #4a7bff);  /* Color de fondo cuando el cursor está sobre el botón */
}
